<template>
  
<div>
  
  <div class="container px-3 py-3 container-responsive" align="center">
    
    <div class="row text-white align-items-center justify-content-center">
      
      <div class="col-12 col-md-6 py-3 bg-secondary">
        
        <h5>Current chat: {{ currentChat.name }}</h5>
        
        <form class="form-floating" :action="changeChatName" @click.prevent="onSubmit">
          <input type="text" class="form-control bg-dark text-white" id="chatname" v-model="chatname">
          <label for="chatname">New chat name</label>
          <input class="btn my-3 btn bg-success text-white" type="submit" value="Change chat name" @click="changeChatName">
        </form>

        <form ref="msgForm" class="form-floating" :action="sendMessage" @click.prevent="onSubmit">

          <textarea
                    @keyup.enter="sendMessage"
                    class="form-control bg-dark text-white"
                    placeholder="Leave a comment here"
                    ref="msgArea"
                    id="message"
                    style="height: 100px"
                    v-model="message"
                    >
          </textarea>

          <label for="message">Message</label>

          <input 
                 class="btn my-3 btn btn-success text-white"
                 data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 data-bs-title="You can also send message by pressing enter in the field"
                 type="submit"
                 value="send"
                 @click="sendMessage"
                 >

        </form>

        <div @scroll="onScroll" class="overflow-auto" style="height: 700px">
          
          <table class="table overflow-auto h-auto table-responsive-sm table-bordered table-sm table-dark table-striped align-center">
            
            <thead>
	            <tr>	
	              <td align="center">Messages</td>
	            </tr>
	          </thead>
            
            <tbody>
              <tr v-for="chatMessage in messages">

                <td v-if="chatMessage.user_id != currentUser.id" align="left" class="my-0 mx-0" width="100%">

                  <div class="d-grid gap-2 d-md-flex justify-content-md-start col-12 col-md-11">

	                  <div class="badge
                                text-start
                                text-wrap
                                text-break
                                text-bg-secondary
                                py-3
                                px-3
                                fs-6
                                fw-normal
                                lh-sm
                                ">

		                  <font size="-2">{{ chatMessage.time_formatted }}<br></font>
		                  <font size="-1"><b>{{ chatMessage.user_nickname }}</b><br></font>
                      <font size="-1">{{ chatMessage.value }}</font>

                    </div>
                    
                  </div>			

			          </td>

			          <td v-else="chatMessage.user_id != currentUser.id" align="right" class="my-0 mx-0" width="100%">

                  <div class="d-grid gap-2 d-md-flex justify-content-md-end col-12 col-md-11">

	                  <div class="badge
                                text-start
                                text-wrap
                                text-break
                                text-bg-primary
                                py-3
                                px-3
                                fs-6
                                fw-normal
                                lh-sm
                                ">

		                  <font size="-2">{{ chatMessage.time_formatted }}<br></font>
                      <font size="-1">{{ chatMessage.value }}</font>

                    </div>
                    
                  </div>			

			          </td>
              
              </tr>
              
            </tbody>
            
          </table>
          
        </div>
        
      </div>
      
    </div>

  </div>

</div>

</template>

<script>
	
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

class Event {
	constructor(type, payload){
		this.type = type
		this.payload = payload
	}
}

class SendMessageEvent {
	constructor(message,user_id, chat_id){
		this.message = message
		this.user_id = user_id
		this.chat_id = chat_id
	}
}

class NewMessageEvent {
	constructor(message, from, sent){
		this.message = message
		this.from = from
		this.sent = sent
	}
}

class ChangeChatNameEvent {
	constructor(name, chat_id){
		this.name = name
		this.chat_id = chat_id
	}
}

class AckEvent {
	constructor(name){
		this.name = name
	}
}

export default {
  
  data() {
    return {
      message: "",
      conn: null,
      rcvMessage: "",
      showMsg: false,
      users: {},
      chats: {},
      offset: 1,
      limit: 10,
      messages: {},
      currentUser: { id: "" },
      currentChat: {}
    }
  },

  created() {
    this.fetchData()
    this.connectWS(this.routeEvent)
  },

  watch: {
    $route: "fetchData"
  },

  methods: {
    
    connectWS(routeEvent) {

      this.conn = new WebSocket("wss://" + location.host + "/ws")

      this.conn.onmessage = function(evt)  {
    	  console.log(evt.data)
    	  const eventData = JSON.parse(evt.data)
    	  const event = Object.assign(new Event, eventData)
	      routeEvent(event)
	    }

    },

    routeEvent(event) {
    	if (event.type === undefined) {
		    alert("no type field in the event")
      }

	    switch(event.type){
		    case "new_message":
			    var req = $.getJSON(`/api/messages/` + this.$route.params.chat_id + `/1/1`)

			    req.done(data => {
			    	this.messages.unshift(...data)
          })

          break
		    case "changed_chatname":
			    var changeChatNameEvent = Object.assign(new ChangeChatNameEvent, event.payload)

			    if (this.currentChat.id == changeChatNameEvent.chat_id) {
				    this.currentChat.name = changeChatNameEvent.name
          }

          break
        case "ack":
          break	
        default:
          alert("unsupported message type")
			    break
  	  }
    },

    sendEvent(eventName, payload) {
	    var event = new Event(eventName, payload) 
	    this.conn.send(JSON.stringify(event))
    },

    onScroll ({ target: { scrollTop, clientHeight, scrollHeight }}) {
      if (scrollTop + clientHeight >= scrollHeight) {
        this.loadMessages()
      }
    },

    changeChatName() {
      var chatname = document.getElementById("chatname").value
      
      if(chatname != null || chatname != this.currentChat.name ){
		    let outgoingEvent = new ChangeChatNameEvent(chatname, this.$route.params.chat_id)
		    this.sendEvent("change_chatname", outgoingEvent)
	    }
    },

    sendMessage() {
      var newmessage = document.getElementById("message").value
	    
      if(newmessage != null){
        let outgoingEvent = new SendMessageEvent(newmessage, this.currentUser.id, this.$route.params.chat_id)
		    this.sendEvent("send_message", outgoingEvent)
		    this.message = ""
	    }
    },

    loadMessages() {
    	this.offset++
	    var req = $.getJSON(`/api/messages/` + this.$route.params.chat_id + `/${this.offset}/${this.limit}`)
      req.done(data => {
      	console.log(data)
        this.messages.push(...data)
      })
    },

    acceptMessage(msg) {
      this.rcvMessage = msg.data
      this.showMsg = true
    },

    fetchData: function() {
      let req = $.getJSON(`/api/current_user`)
      req.done(data => {
        this.currentUser = data.current_user
      })

      req = $.getJSON(`/api/messages/` + this.$route.params.chat_id + `/1/${this.limit}`)
      req.done(data => {
	      this.messages = data
      })

      req = $.getJSON(`/api/users`)
      req.done(data => {
        this.users = data
      })

      req = $.getJSON(`/api/chats`)
      req.done(data => {
        this.chats = data
      })

      req = $.getJSON(`/api/chat/${this.$route.params.chat_id}`)
      req.done(data => {
        this.currentChat = data
      })
    }
  }
}

</script>

