<template>

<div>
  <div class="container container-lg px-3 py-3 container-responsive" align="center">

    <div class="row justify-content-center text-white">

      <div class="col-12 col-md-6 py-3 bg-secondary overflow-auto" style="max-height: 500px">

        <table  class="table table-responsive-sm table-bordered table-sm table-hover table-dark table-striped align-center">

          <thead>
	          <tr>	
	            <td align="center" colspan="2" class="fs-4">Your chats</td>
            </tr>
	        </thead>

          <tbody>
            <tr @click="goToChat(currentUserChat.id)" v-for="currentUserChat in currentUserChats">
              <td class="my-0 py-1 fs-6 align-middle" width="100%">
                <p>Chat name: {{ currentUserChat.name }}</p>
                Users:
                <ul class="list-group list-group-horizontal-sm">
		              <li v-for="(user, i) in currentUserChat.Users" class="list-group-item text-white bg-primary px-1 py-1">
                    <span class="text-white" v-if="user.nickname === currentUser.nickname">
                      you
                    </span>
                    <span v-else-if="user.nickname.length > 15">
                      {{ user.nickname.slice(0, 15) }}...
                    </span>
                    <span v-else>
                      {{ user.nickname }}
                    </span>
	                </li>
                </ul>
              </td>              
            </tr>
          </tbody>

        </table>

      </div>


      <div class="d-flex col-12 col-md-6 py-3 bg-secondary overflow-auto" style="max-height:500px">
        
        <table  class="table table-responsive-sm table-bordered table-sm table-hover table-dark table-striped align-center">
        
          <thead>
            <tr height="10%">	
              <td align="center" colspan="2" class="fs-4">Users</td>
            </tr>
          </thead>
          
          <tbody>
            <tr v-for="user in users">
              
              <td v-if="user.id != currentUser.id" class="text-break my-0 py-1 align-middle fs-6" width="100%" >
                {{ user.nickname }}
              </td>

              <td v-if="user.id != currentUser.id" width="50%" align="right" class="my-0 py-1 fs-6 align-middle align-items-right">
                <a :href="'/api/chats/with_user/' + user.id"><button class="btn btn-sm btn-success text-nowrap">Create chat</button></a>
              </td>

            </tr>
          </tbody>
          
        </table>

      </div>

    </div>

  </div>

</div>

</template>

<script>
	

export default {

  data() {
    return {
      message: "",
      rcvMessage: "",
      showMsg: false,
      users: {},
      chats: {},
      currentUserChats: {},
      currentUser: { id: "" }
    }
  },

  created() {
    this.fetchData()
  },

  watch: {
    $route: "fetchData"
  },

  methods: {
    
    goToChat(chat_id) {
    	console.log(this.$root)
      this.$router.push({path: `/chat/${chat_id}`, replace: true})
    },

    fetchData: function() {
      
      let req = $.getJSON(`/api/current_user`)
      req.done(data => {
        this.currentUser = data.current_user;
      })

      req = $.getJSON(`/api/current_user_chats`)
      req.done(data => {
          this.currentUserChats = data;
      })

      req = $.getJSON(`/api/users`)
      req.done(data => {
        this.users = data;
      })

      req = $.getJSON(`/api/chats`)
      req.done(data => {
        this.chats = data;
      })

    }

  }

}

</script>

