
<div class="container-fluid mx-0 px-0">
<div class="row justify-content-center">
  <div class="col-12 col-md-6 align-self-center justify-content-center" align="center">
    <%= for (k, messages) in flash { %>
      <%= for (msg) in messages { %>
        <div class="my-0 py-0 alert alert-<%= k %>" role="alert">
          <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
			<br>
		<%= msg %>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
</div>

<nav class="navbar navbar-expand-sm bg-secondary" data-bs-theme="dark">
    <div class="container-fluid">
	  <a class="navbar-brand btn btn-primary btn-sm" href="/">Home</a>
<%= if (logged == true) { %>
	<span class="text-center">
		hello <b><%= current_user_nickname %></b><br>
    <%= linkTo(loginPath(), {data-method: "DELETE", class: "btn btn-sm btn-danger ms-1"}){ %>Sign Out<% } %>
    </span>
    <% } else { %>
	    <span class="text-center">
		    hello <b>guest</b><br>
	<%= linkTo(loginPath(), {class: "btn btn-success btn-sm ms-1"}){ %>Sign In<% } %>
		<%= linkTo(registerPath(), {class: "btn btn-primary btn-sm ms-1"}){ %>Register<% } %>
    </span>
<% } %>
        </ul>
      </div>
    </div>
  </nav>
</div>
</div>
</div>
</div>


    <div id="app">
	     <router-view></router-view>
    </div>
